// Colors
$white:         #FFF;
$orange:        #EBCB80;
$blue:          #2494B4;
$dark-gray:     #4B4B4B;
$light-blue:    #E9F5F8;
$light-orange:  #FAEFD5;
$light-gray:    #F3F3F3;
$hover-blue:    #67AEC1;

// Margins
$margin:            3%;
$margin-vertical:   0 12px;
$margin-horizontal: 12px 0;