// Colors
$white:         #FFF;
$orange:        #EBCB80;
$blue:          #2494B4;
$dark-gray:     #4B4B4B;
$light-blue:    #E9F5F8;
$light-orange:  #FAEFD5;
$light-gray:    #F3F3F3;
$hover-blue:    #67AEC1;
$middle-gray:   #D8D8D8;

// Margins
$margin:              3%;
$padding:             3%;
$container-padding:   24px calc(3% + 24px);
$card-padding:        24px 70px;

// Other
$round-button-dimension: 48px;
$text-button-dimension: 44px;

