.header-root {
    flex-grow: 1;

    .header-title {
        flex: 1;
    }

    .header-button-link {
        text-decoration: none;
        margin: 0 10px;
    }

    .header-link {
        color: white;
        text-decoration: none;
    }
}