@import '../../common/css/variables';

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: $dark-gray;
  background-color: $light-gray;
}

.content-container {
  padding: $container-padding;
}

.button-link {
  text-decoration: none;
}

.button-container {
  display: flex;
  align-items: center;
}

.message-errors {
  color: $blue;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.primary-button {
  background-color: $orange !important;
  color: $dark-gray !important;

  &:hover {
    background-color: $light-orange !important;
  }

  &:disabled {
    background-color: $light-gray !important;
    color: $middle-gray !important;
  }
}

.secondary-button {
  background-color: $blue !important;
  color: $light-gray !important;

  &:hover {
    background-color: $hover-blue !important;
  }
}

.black-button {
  background-color: $dark-gray !important;
  color: $orange !important;
  box-shadow: 0 0 0 0 $dark-gray !important;
}

.gray-button {
  background-color: $light-gray !important;
  color: $dark-gray !important;
  box-shadow: 0 0 0 0 $light-gray !important;

  &:hover {
    background-color: $middle-gray !important;
  }
}

.white-button {
  background-color: $white !important;
  color: $dark-gray !important;
  box-shadow: 0 0 0 0 $white !important;

  &:hover {
    background-color: $light-gray !important;
  }
}

.round-button {
  width: $round-button-dimension !important;
  height: $round-button-dimension !important;

  .button-icon {
    font-size: 30px;
  }
}

.text-button {
  border-radius: 20px !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0.8px !important;
  text-transform: lowercase !important;
  font-size: 16px !important;
  margin-right: 8px !important;
  height: $text-button-dimension !important;
}

.text-button-icon {
  margin-right: 8px;
}

h1 {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 600;
   letter-spacing: 1px;
   font-size: 32px;
   color: $dark-gray;
   text-transform: uppercase;
   margin: 0;
 }

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 24px;
  color: $dark-gray;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 24px;
  color: $dark-gray;
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 8px 0;
  letter-spacing: 0.4px;
}

.bold-text {
  font-weight: 600;
}

.light-text {
  font-weight: 300;
}

.page-divider {
  padding: 24px 0;
}

.divider-section {
  border-bottom: 2px solid $light-gray;
  padding: 12px 0;

  .right-divider {
    min-width: 180px;
  }

  .left-divider {
    width: calc(100% - 180px);
  }

  &:last-child {
    border-bottom: 0;
  }
}

.sub-divider-section {
  margin: 0 0 -20px 0;

  .right-divider {
    min-width: 180px;
  }

  .left-divider {
    width: calc(100% - 180px);
  }
}

.description-color {
  background-color: $light-orange;
  padding: 3px;
}

th {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 14px !important;

  &:first-child {
    padding-left: 0 !important;
  }

  &:last-child {
    padding-right: 0 !important;
  }
}

td {
  color: $dark-gray !important;
  font-size: 15px !important;

  &:first-child {
    padding-left: 0 !important;
  }

  &:last-child {
    padding-right: 0 !important;
  }
}

.table-card {
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2) !important;

  .table-card-head {
    background-color: $light-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $card-padding;
  }

  .table-card-body {
    padding: $card-padding;
  }

  .status-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.secondary-card {
  padding: $card-padding;
}

.secondary-card-body {
  margin-bottom: 12px;

  .secondary-card-items {
    margin: 12px 0;
    border-bottom: 2px solid $middle-gray;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    &:last-child {
      border-bottom: 0;
    }
  }

  .secondary-card-rows {
    padding: 6px 0;
    border-bottom: 2px solid $middle-gray;

    &:last-child {
      border-bottom: 0;
    }
  }

  .secondary-card-body-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.dialog-header {
  background-color: $light-blue;
  margin: 0 0 12px 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}
