body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.content-container {
  padding: 20px;
}

.icon-right, .margin-left {
  margin-left: 10px;
}

.icon-left, .margin-right {
  margin-right: 10px;
}

.button-container {
  display: flex;
  align-items: center;
}

.message-errors {
  color: red;
}