@import '../../common/css/variables';

.header-root {
    flex-grow: 1;

    .header-style {
      background-color: $dark-gray;
      letter-spacing: 2px;
      padding: 1% 0;
    }

    .header-title {
        margin-left: $margin;
        flex: 1;

        .title-meta {
            font-size: 32px;
            font-weight: 600;
            color: $blue;
        }

        .title-vuo {
            font-size: 32px;
            font-weight: 300;
            color: $orange;
        }
    }

    .header-actions {
        margin-right: $margin;
        display: flex;
        align-items: center;

        .header-button-margin {
            margin: 0 12px;
        }

        .header-user {
            color: $white;
        }
    }
}

// info dialog
.info-header {
    background-color: #E9F5F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 40px;
    min-height: fit-content;
}

.info-content {
    padding: 20px 40px;

    .show-newlines {
        white-space: pre-line;
    }
}
