{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 1,
    "react/prop-types": 1,
    "linebreak-style": 1,
    "import/extensions": 1,
    "import/no-named-as-default": 1,
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to", "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }]
  }
}
